{% extends 'base.html' %}
{% block content %}
<section id="register" class="bg-light py-5">
    <div class="container">
        <div class="container-fluid">
            <div class="row content">
                <div class="col-sm-3 sidenav">
                    <h4>{{employee_detail.name}}
                        <a href="{% url 'listings' %}" class="btn btn-info">Back</a></h4>
                    <img src="{{ employee_detail.photo.url }}" alt="" class="img-thumbnail">

                </div>
                <div class="col-sm-9">
                    <h3>Employee Details</h3>
                    <table class="w3-table-all">
                        <thead>
                            <tr class="w3-light-grey">
                                <th>Name</th>
                                <td>{{employee_detail.name}}</td>

                            </tr>
                        </thead>
                        <thead>
                            <tr class="w3-light-white">
                                <th>Designations</th>
                                <td>{{employee_detail.designations.name}}</td>
                            </tr>
                        </thead>

                        <thead>
                            <tr class="w3-light-grey">
                                <th>Department</th>
                                <td>{{employee_detail.departments.deptname}}</td>

                            </tr>
                        </thead>
                        <thead>
                            <tr class="w3-light-white">
                                <th>E-mail</th>
                                <td>{{employee_detail.email}}</td>
                            </tr>
                        </thead>
                        <thead>
                            <tr class="w3-light-grey">
                                <th>Contact no.</th>
                                <td>{{employee_detail.phone}}</td>

                            </tr>
                        </thead>
                    </table>
                    <br><br>


                </div>


            </div>
        </div>
    </div>
</section>
{% endblock %}