{% extends 'base.html' %}
{% block content %}
<section id="register" class="bg-light py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="card">
                    <div class="card-header bg-primary text-white">
                        <h4>Delete Designation</h4>
                    </div>


                    <div class="card-body">
                        <form action="/delete_designation/{{del_design.id}}" method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="name"><b>Do you really want to Delete this Information? </b></label>
                                <input type="text" name="name" id="" value="{{del_design.name}}" class="form-control"
                                    readonly>
                            </div>


                            <input type="submit" value="Yes" class="btn btn-secondary btn-danger">
                            <a href="{% url 'designation_list' %}" class=" btn btn-success">No,Back to Dashboard </a>
                        </form>

                    </div>

                </div>
            </div>

        </div>
    </div>
</section>
{% endblock %}