{%extends 'base.html'%}
{% block content%}

<center>
    <h1>Employee data</h1>
</center>
<div class="container">
    <form action="{% url 'emp_search' %}">
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label class="sr-only">Keywords</label>
                <input type="text" name="name" class="form-control" value="" placeholder="Name">
            </div>
            <button class="btn btn-success" type="submit">Search </button> &nbsp;
            <a href="{% url 'add_record' %}" class="btn btn-success">Refresh</a>
        </div>
    </form>
    {% if search_data %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>EmployeeId</th>
                <th>Name</th>
                <th>Department</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for sdata in search_data %}
            <tr>
                <td>{{sdata.id}}</td>
                <td>{{sdata.name}}</td>
                <td>{{sdata.departments.deptname}}</td>
                <td><a href="/edit_info/{{sdata.id}}" class="btn btn-info">Edit</a>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>Employee Data Not Found</p>
    {% endif %}
</div>


{% endblock %}