{%extends 'base.html'%}
{% block content %}
<center>
    <h1>Dashboard</h1>
</center>
<div class="container">
    <a href="{% url 'add_record' %}" class="btn btn-primary">Add Details</a> <br> <br>
    <!-- Alerts -->
    {% include 'partials/_alerts.html '%}

    {% if dashboard_list %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>EmpName</th>
                <th>Salary</th>
                <th>Department</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for data in dashboard_list %}
            <tr>
                <td>{{data.id}}</td>
                <td>{{data.name}}</td>
                <td>{{data.salary}}</td>
                <td>{{data.department}}</td>
                <td><a href="/edit_info/{{data.id}}" class="btn btn-info">Update</a>
                    <a href="/del_info/{{data.id}}" class=" btn btn-danger">Delete</a></td>

            </tr>
            {% endfor %}
        </tbody>
        {% else %}
        <p>Data Not Found</p>
        {% endif %}
    </table>
</div>
{% endblock %}